un/src/main/resources/un.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.baeldung.com/springsoap/gen"
           targetNamespace="http://www.baeldung.com/springsoap/gen" elementFormDefault="qualified">

    <xs:element name="getAllStudentRequest" type="xs:string" nillable="true" />
  

    <xs:element name="getAllStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="studentList" type="tns:studentList"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

     <xs:complexType name="studentList">
        <xs:sequence>
            <xs:element name="studentList" type="tns:studentType"  maxOccurs="unbounded"  />
        
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="studentType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="LastName" type="xs:string"/>
            <xs:element name="Address" type="xs:string"/>
               <xs:element name="NatId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
